<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PhotoPin이 사진에 위치 정보를 추가하기 위해 GPS 접근이 필요합니다</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>PhotoPin이 백그라운드에서도 위치를 추적하여 사진에 GPS 정보를 추가합니다</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>카메라와 Wi-Fi로 연결하기 위해 로컬 네트워크 접근이 필요합니다</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>카메라와 Bluetooth로 연결하여 Wi-Fi를 자동으로 활성화합니다</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Hasselblad 카메라와 연결하기 위해 Bluetooth가 필요합니다</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.hasselblad.protocol</string>
		<string>com.apple.ptpip</string>
		<string>org.wia.ptp</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>wifi</string>
		<string>bluetooth-le</string>
		<string>location-services</string>
	</array>
	<key>com.apple.developer.networking.HotspotConfiguration</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>